<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Issues</title>
		<meta name="author" content="Fred Cook">
        <link href="defaultStyle.css" type="text/css" rel="stylesheet" />
        <link href="issues.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
        <nav id = "navigation">
			<table>
				<tr> 
					<td id="logo"> L</td>
					<td id="button"><a href="/"> Home </a></td>
				 	<td id="button"><a href="/staff"> Staff </a></td>
					<td id="button"><a href="/contacts"> Contacts </a></td>
					<td id="button"><a href="/issues"> Issues </a></td>
					<a id="lr" href="/register">| Register</a> <a id="lr" href="/login">Login |</a>
				</tr>
			</table>
		</nav>	
        <h1> Issues </h1>
        
        <article>
            <table id = "table" width="80%">
                <tr>
                    <th id = "th">ID</th>
                    <th id = "th">Issue</th>
                    <th id = "th">Raised by</th>
                    <th id = "th">Date Set</th>
                    <th id = "th">Location</th>
                    <th id = "th">Status</th>      
                </tr>

                {{#each tasks}}
                    <tr id="lol">
                        <td id = "td">{{this.id}}</td>
                        <td id = "td">{{this.issueType}}</td>
                        <td id = "td">{{this.raisedBy}}</td>
                        <td id = "td">{{this.dateSet}}</td>
                        <td id = "td">{{this.location}}</td>
                        <td id = "td">{{this.status}}</td>
                    </tr>

                {{/each}}
            </table>





        </article>    
	</body>


</html>
