<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Issues</title>
		<meta name="author" content="Fred Cook, Wiktor Majkowski">
        <link href="../defaultStyle.css" type="text/css" rel="stylesheet" />
        <link href="../issues.css" type="text/css" rel="stylesheet" />
		<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 50%;
		width: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
		width: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
	</head>
	<body>
        <nav id = "navigation">
			<table>
				<tr> 
					<td id="logo"> L</td>
					<td id="button"><a href="/"> Home </a></td>
				 	<td id="button"><a href="/staff"> Staff </a></td>
					<td id="button"><a href="/contacts"> Contacts </a></td>
					<td id="button"><a href="/issues"> Issues </a></td>
					<a id="lr" href="/register">| Register</a> 
                    {{#if user}}
                        <a id="lr" href="/logout">Log out |</a>
                    {{else}}   
					    <a id="lr" href="/login">Login |</a>
                    {{/if}}
				</tr>
			</table>
		</nav>	

        {{issue}}
        <h1> {{this.issueType}} </h1>

        <!-- 
            The colums of the database are issueType, issueDesc,  raisedBy, dateSet, dateCompleted, location, status and votes

            access them by doing this {{issue.[what you need]}}
        -->

       <div id="map"></div>
    	<script>
     	var map;
     	function initMap() {
        	map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 37.164, lng:-8.385 },
            zoom: 10
        });
      	}
    	</script>
    	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtbfw01y8WV94fCvOe2FLXbRkjBKoAxEo&callback=initMap"
    	async defer></script>
		<h1>{{issue.issueType}}</h1>
        <article>
		<!--	<h4>Description: </h4>
			<p> {{this.issueDesc}}</p>
			<h4>Raised by: </h4>
			<P>{{this.raisedBy}}</p>
			<h4>Date:</h4>
			<p>{{this.dateSet}}</p>
			<h4>Completed:</h4>
			<p>{{this.dateCompleted}}</p>
			<h4>Area:</h4>
			<p>{{this.location}}</p>
			<h4>Status:</h4>
			<p>{{this.status}}</p>
			<h4>Votes:</h4>
			<p>{{this.votes}}</p>-->
            <table id = "table" width="80%">
                <tr>
                    <th id = "th">ID</th>
                    <th id = "th">Issue</th>
                    <th id = "th">Issue Description</th>
                    <th id = "th">Raised by</th>
                    <th id = "th">Date Set</th>
                    <th id = "th">Date Completed</th>
                    <th id = "th">Location</th>
                    <th id = "th">Status</th>
                    <th id = "th">Votes</th>
                </tr>

                
                    <tr id="lol">
                        <td id = "td">{{this.id}}</td>
                        <td id = "td">{{this.issueType}}</td>
                                <td id = "td">{{this.issueDesc}}</td>
                                <td id = "td">{{this.raisedBy}}</td>
                                <td id = "td">{{this.dateSet}}</td>
                                <td id = "td">{{this.dateCompleted}}</td>
                        <td id = "td">{{this.location}}</td>
                        <td id = "td">{{this.status}}</td>
                                <td id = "td">{{this.votes}}</td>
                        <td><form action = '/issues' method = "post">
                            <input type = "submit" value = "Upvote" name = "upvote">
                            <input name ="id" type="hidden" value = {{this.id}} readonly>
                        </form> </td>
                        
                    </tr>
                
            </table>
        </article>    
	</body>


</html>
