<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Issues</title>
		<meta name="author" content="Fred Cook, Wiktor Majkowski">
        <link href="defaultStyle.css" type="text/css" rel="stylesheet" />
        <link href="issues.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
        <nav id = "navigation">
			<table id = "menu">
				<tr> 
					<td id="logo"> Local Community</td>
					<td id ="break">|</td>
					<td id="HomeButton"><a href="/"> Home </a></td>
				 	<td id="StaffButton"><a href="/staff"> Staff </a></td>
					<td id="ContactsButton"><a href="/contacts"> Contacts </a></td>
					<td id="IssuesButton"><a href="/issues"> Issues </a></td>
					{{#if user}}
                        <a id="ProfileInfo" href="/profileInfo">Profile</a>
                        <a id="Logoutlr" href="/logout">Log out |</a>
					{{else}}
                        <a id="Registerlr" href="/register">| Register</a> 
					    <a id="Loginlr" href="/login">Login |</a>
                    {{/if}}
				</tr>
			</table>
		</nav>	
        <h1> Issues </h1>
        
        <article>
            <section>
                <table id = "tableSubmitted">
                    <tr>
                        <th id = "IDth">ID</th>
                        <th id = "Issueth">Issue</th>
                        <th id = "Locationth">Location</th>
                        <th id = "Statusth">Status</th>
                        <th id = "Priorityth">Priority</th>
                    </tr>

                    {{#each tasks}}
                        <tr id="row">
                            <form action="/issues" method="post">
                            <td id = "IDtd"> <input name ="id" type="hidden" value = {{this.id}}> <a href="/issue_details/{{this.id}}">{{this.id}}</a> </td>
                            <!--<input name ="id" value = {{this.id}} readonly type = "hidden">-->
                            <!--<td id = "td">{{this.id}}</td>-->
                            <td id = "Issuetd">{{this.issueType}}</td>
                            <td id = "Locationtd">{{this.location}}</td>
                            <td id = "Statustd">{{this.status}}</td>
                            <td id = "Prioritytd">{{this.priority}}</td>
                       <!-- <td><input name ="id" type="hidden" value = {{this.id}}></td> -->
                            <td id = "Detailstd" style="width:60px"><input style="float:left" type="submit" value="Details" name="details"></td>
                            </form>
                        </tr>
                    {{/each}}
                    <section id="filter">
                        <dt>
                            <dd>Filter</dd>
                            <dd>
                                <input placeholder="Issue" type="hidden" name ='issueTypeFilter' list="issueType"></td> 
                                <select id="issueType">
                                    <option value="Vandalism"> Vandalism </option>
                                    <option value="Noise Pollution">Noise Pollution</option>
                                    <option value="Litter">Litter</option>
                                    <option value="Speeding">Speeding</option>
                                    <option value="Potholes">Potholes</option>
                                    <option value="Other">Other</option>
                                </select>
                            </dd>

                            <!--<dd>by Location</dd>-->
 <!--                           <dd>    <input placeholder="Location" type="text">  </dd> -->
                            <!--<dd>by Status</dd>-->
                                    <form action="/issues" method="post">
                                    <form action="/issue_status" method="post">
                            <dd>    <input placeholder="Status" name = 'issueStatus' list = "status"> </td>   
                                    <datalist id = "status">
                                        <option value = "Incomplete">
                                        <option value = "In Progress">
                                        <option value = "complete">
                                    </datalist>
                            
                            </dd>
                            <dd>
                                
                                    <p><input type="submit" name="Filter" value="Filter"></p>
                                </form>
                            </dd>
                        </dt>
                    </section>
                </table>
                {{#if user}}    
                    <table id="SubmitNew">
                        <tr>
                            <th id = "IDth">ID</th>
                            <th id = "Issueth">Issue</th>
                            <th id = "Descth">Issue Description</th>
                            <th id = "Raisedth">Raised by</th>
                            <th id = "Dateth">Date Set</th>
                            <th id = "Completedth">Date Completed</th>
                            <th id = "Locationth">Location</th>
                            <th id = "Statusth">Status</th>
                            <th id = "Votesth">Votes</th>
                        </tr>
                        <form action="/issues" method="post">
                            <td id="IDtd">ID</td>
                            <td>
                                <select id="issueType" name='issueType' list="issueType">
                                    <option value="Vandalism">Vandalism </option>
                                    <option value="Noise Pollution">Noise pollution </option>
                                    <option value="Litter">Litter</option>
                                    <option value="Speeding">Speeding</option>
                                    <option value="Potholes">Potholes</option>
                                    <option value="Other">Other</option>
                                </select>
                            </td>
                            <td id="Desctd"><input name = 'issueDesc' type="text"></td>
                            <td id="Usertd">User: <br><b>{{user}}</b></td>

                                <!--<td id="td"><input type="text" placeholder="{{user}}" readonly></td>-->
                            <td id="Datetd"><input type="date" readonly></td>
                            <td id="Completedtd"><input name = 'dateCompleted' type="date" placeholder="N/A" readonly></td>
                            <td id="Locationtd"><input name ='location' list="location" value = {{this.currentLocation}}></td> 
                                <datalist id="location">
                                    <option value="Bablake">
                                    <option value="Binley and Willenhall">
                                    <option value="Lower Stoke">
                                    <option value="Cheylesmore">
                                    <option value="Foleshill">
                                    <option value="Sherbourne">
                                    <option value="Whoberley">
                                    <option value="Longford">
                                    <option value="Henley">
                                    <option value="Wyken">
                                    <option value="Upper Stoke">
                                    <option value="Earlsdon">
                                    <option value="Wainbody">
                                    <option value="Westwood">
                                    <option value="Woodlands">
                                    <option value="Holbrook">
                                </datalist>
                            <!--
                            <td id="td"><select name='status' list="status" placeholder="incomplete" readonly> Incomplete </td>
                            -->
                            <td id="Statustd"><input type='text' name = 'status' placeholder='incomplete' value='incomplete' readonly></td>
                            <td id="Votestd"><input name='votes' type='text' placeholder=0 readonly></td>
                            <td id = "Submittd"><input type="submit" value="Submit" name = "submitIssueButton"></td>
                        </form>
                    </table>
                {{else}}
                    <p>Log In to submit an issue.</p>
                {{/if}}
            </section>
        </article>    
	</body>


</html>
