<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Issues</title>
		<meta name="author" content="Fred Cook, Wiktor Majkowski">
        <link href="defaultStyle.css" type="text/css" rel="stylesheet" />
        <link href="issues.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
        <nav id = "navigation">
			<table>
				<tr> 
					<td id="logo"> L</td>
					<td id="button"><a href="/"> Home </a></td>
				 	<td id="button"><a href="/staff"> Staff </a></td>
					<td id="button"><a href="/contacts"> Contacts </a></td>
					<td id="button"><a href="/issues"> Issues </a></td>
					<a id="lr" href="/register">| Register</a> <a id="lr" href="/login">Login |</a>
				</tr>
			</table>
		</nav>	
        <h1> Issues </h1>
        
        <article>
            <table id = "table" width="80%">
                <tr>
                    <th id = "th">ID</th>
                    <th id = "th">Issue</th>
                    <th id = "th">Raised by</th>
                    <th id = "th">Date Set</th>
                    <th id = "th">Location</th>
                    <th id = "th">Status</th>      
                </tr>

                {{#each tasks}}
                    <tr id="lol">
                        <td id = "td">{{this.id}}</td>
                        <td id = "td">{{this.issueType}}</td>
                        <td id = "td">{{this.raisedBy}}</td>
                        <td id = "td">{{this.dateSet}}</td>
                        <td id = "td">{{this.location}}</td>
                        <td id = "td">{{this.status}}</td>
                    </tr>
                {{/each}}
                <form action="/issues" method="post">
                <p><input type="submit" value="Submit"></p>
                    <td id="td">ID</td>
                    <td id="td"><input name = 'issue'type="text"></td>
                    <td id="td"><input name = "raisedBy" type="text"></td>
                    <td id="td"><input name= 'dateSet'type="date"></td>
                    <td id="td"><input name ='location'list="location"></td> 
                        {{#each ward_postcodes}}
                        <datalist id="location">
                            <option value="Bablake">
                            <option value="Binley and Willenhall">
                            <option value="Lower Stoke">
                            <option value="Cheylesmore">
                            <option value="Foleshill">
                            <option value="Sherbourne">
                            <option value="Whoberley">
                            <option value="Longford">
                            <option value="Henley">
                            <option value="Wyken">
                            <option value="Upper Stoke">
                            <option value="Earlsdon">
                            <option value="Wainbody">
                            <option value="Westwood">
                            <option value="Woodlands">
                            <option value="Holbrook">
                        </datalist>
                    {{/each}}
                    <td id="td"><select name='status' list="status">
                            <option value="Choose one">Choose one...</option>
                            <option value="Complete">Complete</option>
                            <option value="Incomplete">Incomplete</option>                        </option>
                        </select>
                    </td>
                </form>
                </table>
                





        </article>    
	</body>


</html>
