<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Issues</title>
		<meta name="author" content="Fred Cook, Wiktor Majkowski">
        <link href="../defaultStyle.css" type="text/css" rel="stylesheet" />
        <link href="../issues.css" type="text/css" rel="stylesheet" />
        <link href="../issue_details.css" type="text/css" rel="stylesheet" />
	    </head>
		<body>
        <nav id = "navigation">
			<table>
				<tr> 
					<td id="logo"> Local Community</td>
					<td id ="break">|</td>
					<td id="HomeButton"><a href="/"> Home </a></td>
				 	<td id="StaffButton"><a href="/staff"> Staff </a></td>
					<td id="ContactsButton"><a href="/contacts"> Contacts </a></td>
					<td id="IssuesButton"><a href="/issues"> Issues </a></td>
					{{#if user}}
                        <a id="ProfileInfo" href="/profileInfo">Profile</a>
                        <a id="Logoutlr" href="/logout">Log out |</a>
					{{else}}
                        <a id="Registerlr" href="/register">| Register</a> 
					    <a id="Loginlr" href="/login">Login |</a>
          {{/if}}
				</tr>
			</table>
		</nav>	

        <h1> Issue Details: {{issue.issueType}}</h1>

        <!-- 
            The colums of the database are issueType, issueDesc,  raisedBy, dateSet, dateCompleted, location, status and votes

            access them by doing this {{issue.[what you need]}}
        -->

		<article>
    	<section id="map">
    	<iframe frameborder="0" style="border:0"
            src='https://www.google.com/maps/embed/v1/place?key=AIzaSyAIl1QIAQMTrmZ44aKulJQgY2D_BbqRRcU&q={{this.encodedLocation}}' allowfullscreen>
        </iframe> 
        </section>
            <table id = "table" width="100%">
                <tr>
                    <th id = "IDth">ID</th>
                    <th id = "Issueth">Issue</th>
                    <th id = "Descth">Issue Description</th>
                    <th id = "Raisedth">Raised by</th>
                    <th id = "Dateth">Date Set</th>
                    <th id = "Completedth">Date Completed</th>
                    <th id = "Sinceth">Days since raised or completion</th>
                    <th id = "Locationth">Location</th>
                    <th id = "Statusth">Status</th>
                    <th id = "Votesth">Votes</th>
                    <th id = "Priorityth">Priority</th>
                </tr>

                
                    <tr id="row">
                        <td id = "IDtd">{{this.issue.id}}</td>
                        <td id = "Issuetd">{{this.issue.issueType}}</td>
                                <td id = "Desctd">{{this.issue.issueDesc}}</td>
                                <td id = "Usertd">{{this.issue.raisedBy}}</td>
                                <td id = "Datetd">{{this.issue.dateSet}}</td>
                                <td id = "Completedtd">{{this.issue.dateCompleted}}</td>
                                <td id = "Datetd">{{this.dateDifference}}</td>
                        <td id = "Locationtd">{{this.issue.location}}</td>
                        <td id = "Statustd">{{this.issue.status}}</td>
                                <td id = "Votestd">{{this.issue.votes}}</td>
                                <td id = "Prioritytd">{{this.issue.priority}}</td>
                        <td><form action = '/issues' method = "post">
                            <input type = "submit" value = "Upvote" name = "upvote">
                            <input name ="id" type="hidden" value = {{this.issue.id}} readonly>
                        </form> </td>
                        
                    </tr>
                
            </table>
        </article>    
	</body>


</html>
