<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Issues</title>
		<meta name="author" content="Fred Cook, Wiktor Majkowski">
        <link href="../defaultStyle.css" type="text/css" rel="stylesheet" />
        <link href="../issues.css" type="text/css" rel="stylesheet" />
	    </head>
		<body>
        <nav id = "navigation">
			<table>
				<tr> 
					<td id="logo"> L</td>
					<td id="button"><a href="/"> Home </a></td>
				 	<td id="button"><a href="/staff"> Staff </a></td>
					<td id="button"><a href="/contacts"> Contacts </a></td>
					<td id="button"><a href="/issues"> Issues </a></td>
					<a id="lr" href="/register">| Register</a> 
                    {{#if user}}
                        <a id="lr" href="/logout">Log out |</a>
                    {{else}}   
					    <a id="lr" href="/login">Login |</a>
                    {{/if}}
				</tr>
			</table>
		</nav>	

        <h1> Issue Details: {{this.issueType}} </h1>

        <!-- 
            The colums of the database are issueType, issueDesc,  raisedBy, dateSet, dateCompleted, location, status and votes

            access them by doing this {{issue.[what you need]}}
        -->

		<h1>{{issue.issueType}}</h1>
		<article>
		<section id="map"></section>
    	<script>
     		// Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see the error "The Geolocation service
      // failed.", it means you probably did not give permission for the browser to
      // locate you.
      var map, infoWindow;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 15
        });
        infoWindow = new google.maps.InfoWindow;

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
			//Gets users position
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            infoWindow.setPosition(pos);
            infoWindow.setContent("Current Location");
            infoWindow.open(map);
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }
    	</script>
    	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtbfw01y8WV94fCvOe2FLXbRkjBKoAxEo&callback=initMap"
    	async defer></script>
            <table id = "table" width="100%">
                <tr>
                    <th id = "th">ID</th>
                    <th id = "th">Issue</th>
                    <th id = "th">Issue Description</th>
                    <th id = "th">Raised by</th>
                    <th id = "th">Date Set</th>
                    <th id = "th">Date Completed</th>
                    <th id = "th">Location</th>
                    <th id = "th">Status</th>
                    <th id = "th">Votes</th>
                </tr>

                
                    <tr id="lol">
                        <td id = "td">{{this.issue.id}}</td>
                        <td id = "td">{{this.issue.issueType}}</td>
                                <td id = "td">{{this.issue.issueDesc}}</td>
                                <td id = "td">{{this.issue.raisedBy}}</td>
                                <td id = "td">{{this.issue.dateSet}}</td>
                                <td id = "td">{{this.issue.dateCompleted}}</td>
                        <td id = "td">{{this.issue.location}}</td>
                        <td id = "td">{{this.issue.status}}</td>
                                <td id = "td">{{this.issue.votes}}</td>
                        <td><form action = '/issues' method = "post">
                            <input type = "submit" value = "Upvote" name = "upvote">
                            <input name ="id" type="hidden" value = {{this.issue.id}} readonly>
                        </form> </td>
                        
                    </tr>
                
            </table>
        </article>    
	</body>


</html>
