<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Issues</title>
		<meta name="author" content="Fred Cook, Wiktor Majkowski">
        <link href="defaultStyle.css" type="text/css" rel="stylesheet" />
        <link href="issues.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
        <nav id = "navigation">
			<table>
				<tr> 
					<td id="logo"> L</td>
					<td id="button"><a href="/"> Home </a></td>
				 	<td id="button"><a href="/staff"> Staff </a></td>
					<td id="button"><a href="/contacts"> Contacts </a></td>
					<td id="button"><a href="/issues"> Issues </a></td>
					<a id="lr" href="/register">| Register</a> 
                    {{#if user}}
                        <a id="lr" href="/logout">Log out |</a>
                    {{else}}   
					    <a id="lr" href="/login">Login |</a>
                    {{/if}}
				</tr>
			</table>
		</nav>	
        <h1> Issues </h1>
        
        <article>
            <table id = "table" width="80%">
                <tr>
                    <th id = "th">ID</th>
                    <th id = "th">Issue</th>
                    <th id = "th">Issue Description</th>
                    <th id = "th">Raised by</th>
                    <th id = "th">Date Set</th>
                    <th id = "th">Date Completed</th>
                    <th id = "th">Location</th>
                    <th id = "th">Status</th>
                    <th id = "th">Votes</th>
                </tr>

                {{#each tasks}}
                    <tr id="lol">
                        <td id = "td"><a href="/issue_details/{{this.id}}">{{this.id}}</a> </td>
                        <input name ="id" value = {{this.id}} readonly type = "hidden">
                        <td id = "td">{{this.issueType}}</td>
                                <td id = "td">{{this.issueDesc}}</td>
                                <td id = "td">{{this.raisedBy}}</td>
                                <td id = "td">{{this.dateSet}}</td>
                                <td id = "td">{{this.dateCompleted}}</td>
                        <td id = "td">{{this.location}}</td>
                        <td id = "td">{{this.status}}</td>
                                <td id = "td">{{this.votes}}</td>
                        <td><form action = '/issues' method = "post">
                            <input type = "submit" value = "Upvote" name = "upvote">
                            <input name ="id" type="hidden" value = {{this.id}} readonly>
                        </form> </td>
                        <td>
                            <form action="/issues" method="post">
                            <input type = "submit" value = "Details" name = "details">
                            <input name ="id" type="hidden" value = {{this.id}} readonly>
                            </form>
                        </td>
                    </tr>
                {{/each}}
                <form action="/issues" method="post">
                <p><input type="submit" value="Submit"></p>
                    <td id="td">ID</td>
                    <td id="td"><input name ='issueType' list="issueType"></td> 
                        <datalist id="issueType">
                            <option value = "Vandalism">
                            <option value = "Noise pollution">
                            <option value = "Litter">
                            <option value = "Speeding">
                            <option value = "Potholes">
                            <option value = "Other">
                        </datalist>
                    </td>

                    <td id="td"><input name = 'issueDesc' type="text"></td>
                    <td id="td">User: <br><b>{{user}}</b></td>
                        <!--<td id="td"><input type="text" placeholder="{{user}}" readonly></td>-->
                    <td id="td"><input type="date" readonly></td>
                    <td id="td"><input name = 'dateCompleted' type="date" placeholder="N/A" readonly></td>
                    <td id="td"><input name ='location' list="location"></td> 
                        <datalist id="location">
                            <option value="Bablake">
                            <option value="Binley and Willenhall">
                            <option value="Lower Stoke">
                            <option value="Cheylesmore">
                            <option value="Foleshill">
                            <option value="Sherbourne">
                            <option value="Whoberley">
                            <option value="Longford">
                            <option value="Henley">
                            <option value="Wyken">
                            <option value="Upper Stoke">
                            <option value="Earlsdon">
                            <option value="Wainbody">
                            <option value="Westwood">
                            <option value="Woodlands">
                            <option value="Holbrook">
                        </datalist>
                    <!--
                    <td id="td"><select name='status' list="status" placeholder="incomplete" readonly> Incomplete </td>
                    -->
                    <td id="td"><input type='text' name = 'status' placeholder='incomplete' value='incomplete' readonly></td>
                    <td id="td"><input name='votes' type='text' placeholder=0 readonly></td>
                </form>
                </table>
        </article>    
	</body>


</html>
