
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="author" content="Adam Gill">
		<link href="defaultStyle.css" type="text/css" rel="stylesheet" />
		<link href="issues.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<nav id = "navigation">
			<table>
				<tr> 
					<td id="logo"> Local Community </td>
					<td id="HomeButton"><a href="/"> Home </a></td>
				 	<td id="StaffButton"><a href="/staff"> Staff </a></td>
					<td id="ContactsButton"><a href="/contacts"> Contacts </a></td>
					<td id="IssuesButton"><a href="/issues"> Issues </a></td>
					{{#if user}}
                        <a id="Logoutlr" href="/logout">Log out |</a>
					{{else}}
                    	<a id="Registerlr" href="/register">| Register</a> 
					    <a id="Loginlr" href="/login">Login |</a>
                    {{/if}}
				</tr>
			</table>
		</nav>	
		<br>
		<article>
			<h1>Profile Page</h1>

			<nav>
				<table id="table" width="80%">
					<tr id="lol">
						<td id="usernameTh"> Username </td>
						<td id="locationTh"> Location </td>
						<td id="addressTh"> Address</td>
						<td id="postcodeTh"> Postcode</td>
						<td id="pictureTh"> Profile Picture</td>
					</tr>
					<tr>
						<td id="usernameTd">{{this.user}} </td>
						<td id="locationTd">{{this.data.location}} </td>
						<td id="addressTd">{{this.data.address}} </td>
						<td id="postcodeTd">{{this.data.postcode}} </td>
					</tr>
				</table>
			</nav>    
		</article>
</html>
