<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Issues</title>
		<meta name="author" content="Fred Cook, Wiktor Majkowski">
        <link href="defaultStyle.css" type="text/css" rel="stylesheet" />
        <link href="issues.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
        <nav id = "navigation">
			<table>
				<tr> 
					<td id="logo"> Local Community</td>
					<td id ="break">|</td>
					<td id="HomeButton"><a href="/"> Home </a></td>
				 	<td id="StaffButton"><a href="/staff"> Staff </a></td>
					<td id="ContactsButton"><a href="/contacts"> Contacts </a></td>
					<td id="IssuesButton"><a href="/issues"> Issues </a></td>
					{{#if user}}
                  <a id="ProfileInfo" href="/profileInfo">Profile</a>
                  <a id="Logoutlr" href="/logout">Log out |</a>
					{{else}}
                  <a id="Registerlr" href="/register">| Register</a> 
					        <a id="Loginlr" href="/login">Login |</a>
                    {{/if}}
				</tr>
			</table>	
		</nav>	
        <h1> Issue Tracker </h1>        
        <article>
            <table id = "table" width="80%">
                <tr>
                    <th id="IDth">ID</th>
                    <th id="Issueth">Issue</th>
                    <th id="Descth">Issue Description</th>
                    <th id="Raisedth">Raised by</th>
                    <th id="Dateth">Date Set</th>
                    <th id="Completedth">Date Completed</th>
                    <th id="Locationth">Location</th>
                    <th id="Statusth">Status</th>
                    <th id="Votesth">Votes</th>
                    <th id="Priorityth">Priority</th>
                </tr>
                {{#each tasks}}
                    <tr id="row">
                        <td id="IDtd">{{this.id}}</td>
                        <td id="Issuetd">{{this.issueType}}</td>
                        <td id="Desctd">{{this.issueDesc}}</td>
                        <td id="Usertd">{{this.raisedBy}}</td>
                        <td id="Datetd">{{this.dateSet}}</td>
                        <td id="Completedtd">{{this.dateCompleted}}</td>
                        <td id="Locationtd">{{this.location}}</td>
                        <td id="Statustd">{{this.status}}</td>
                        <td id="Votestd">{{this.votes}}</td>
                        <td id="Prioritytd">{{this.priority}}</td>
                    <form action="/staff" method="post">
                        <td><input name="statusChange" type="submit" value="In Progress"></td>
                        <td><input name="statusChange" type="submit" value="Complete"></td>
                        <td><input name="priorityChange" type="submit" value="Low"></td>
                        <td><input name="priorityChange" type="submit" value="Medium"></td>
                        <td><input name="priorityChange" type="submit" value="High"></td>
                        <input name="id" type="hidden" value={{this.id}} readonly>
                    </tr>
                    </form>
                    {{/each}}
                </table>
                </article>
                </body>
		
</html>
